@use '../custom' as *;

.showcase {
    height: 50vh;
    background-image: url('../../images/showcase.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 0;
    margin: 20px 0;


    h2,
    p {
        margin-bottom: 10px;
    }

    &-btn {
        margin-top: 20px;
    }
}