@use '../custom' as *;
@use '../components/animation' as *;

.btn {
    width: auto !important;
    @include transitionfunction;

    &:hover {
        opacity: .9;
    }
}


.btn-links {
    color: $blue !important;
    font-weight: bold !important;
    font-size: 25px !important;
}